<button ng-click="toggleSidenav('left')"  hide-gt-sm class="menuBtn">
  <span class="visually-hidden">Menu</span>
</button>
<a href="/">
  <img src="/modules/core/client/img/brand/300x60Logo.png"/>
</a>
<span flex=""></span>
<div hide-xs hide-sm layout="row">
<div data-ng-show="!authentication.user">
  <md-button href="/authentication/signin">Log In</md-button >
</div>
<div data-ng-show="authentication.user">
  <md-menu>
    <md-button ng-click="openMenu($mdOpenMenu, $event)"> {{authentication.user.displayName}} </md-button>
    <md-menu-content>
      <md-menu-item>
        <md-button ng-href="/settings"> Account </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-href="/api/auth/signout" target="_self"> Sign Out </md-button>
      </md-menu-item>
    </md-menu-content>
    </md-menu>
    <!--
  <md-select ng-model="userBar" placeholder="{{authentication.user.displayName}}">
    <md-option ng-value="settings" ng-href="/settings">Settings</md-option>
    <md-option ng-value="logout" href="/auth/signout">Log Out</md-option>
  </md-select>
  -->
</div>
</div>