<section>
  <div class="homepageSplash md-default-theme" layout="row" layout-xs="column">
    <div flex class="merlinScreenshot" flex-order-xs="2">
    </div>
    <div flex class="merlinHero" flex-order-xs="1">
        <div class="heroText">
          Merlin Onboarding is now called Merlin Guides
        </div>
        <div class="heroTextTwo">
          New domain, same great product
        </div>
        <br>
        <md-button class="md-raised md-primary splash" href="https://www.merlinguides.com" style="width: 300px;">
          Go To MerlinGuides.com
        </md-button>
        <!--
        <md-button class="md-raised md-secondary splash" href="/notavailable">
          View Examples
        </md-button> -->
    </div>
  </div>
</section>
<section class="md-padding md-docs-dark-theme">
  Copyright 2016 Merlin Onboarding. All rights reserved.
</section>